@import "../utils/utilities";

html, body, .main-view-container, .splash, .map-view{
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, a, p {
  font-family: Gill Sans, sans-serif;
}

a.bogus, a.dropdown-toggle, .stories li a, .about li a, .events li a{
  text-decoration: none;
  color: $font_color_grey;
  &:hover{
    color: $accent-color;
  }
}

.orange{
  color: $accent-color;
  font-family: georgia, sans-serif;
}

.black{
  color:$dark-grey!important;
}

.margintop{
  margin-top: 20px;
}

.nav, .carousel a { cursor: pointer; }


#mc_embed_signup{
  background:rgba(0, 0, 0, 0); 
  clear:left; 
  font:14px Georgia,sans-serif; 
}

.bg-color{
  background: rgba(179, 218, 218, .4);
}

.padding-b{
  padding-bottom: 25px;
}



.isotope-item{
  list-style: none;
  margin: 20px;
  width: 200px;
  height: 300px;
  a{
    color: white;
    font-family: georgia, sans-serif;
    text-decoration: none;
  }
  img{
    position: relative;
    top: 0;
    left: 0;
  }
  div{
    position: absolute;
    padding: 15px;
    z-index: 1;
    top: 0;
    left: 10px;
  }
}

.story-info-visual{
   position: relative;
   vertical-align: 25px;
   padding: 10px;
}




