@import "../utils/utilities";

.header-wrapper{
	height: 100%;
	.white-header{
		padding: 3%;
		height: 20%;
		width: 100%;
		background: white;
	}
	h1{
		font-family: $secondary_font;
		font-style: italic;
		font-weight: bold;
		font-size: 3em;
	}
	h4 span{
		font-family: $secondary_font;
		font-weight: bold;
	}
}

.header, .audio-header{
  height: 82vh;
  background-size: cover;
}

.visual-header{
  background-image: none!important;
}

.header.pitch{
   background-image: image-url("pitch_guide.jpg");
}
.header.about{
  background-image: image-url("about_us.jpg");
}

