.main-content{
    width: 100%;
    min-height: 100%;
    background-color: white;
    font-size: 21px;
    color: black;
    padding: 50px 21% 20px 21%;
    font-family: georgia, sans-serif;
    p{
      
      line-height: 1.2;
    }
    img{
      width: 100%!important;
      height: 100%!important;
    }
  }

