<div class="header-wrapper">
  <div class="close-icon" ng-click="dismiss()"></div>
    <div class="white-header">
      <h1>All Stories</h1>
    </div>
  </div>
</div>
<ul isotope-container="isotope-container">
    <li ng-repeat="story in stories track by $index" class="isotope-item" isotope-item="isotope-item">
      <a ui-sref="home.stories({ story_id: story.id })">
      <img ng-src="{{story.book_cover}}">
    <div>
        <h2>{{story.title}}</h2>
        <p ng-repeat="litographer in story.litographers">{{litographer.name}}{{$last ? '' : ', '}}</p>
        <p>{{story.headline}}</p>
    </div>
    </a>
    </li>
    <li ng-repeat="multistory in multistoriesstories track by $index"  class="isotope-item" isotope-item="isotope-item">
      <a ui-sref="home.multistories({ multistory_id: multistory.id })">
      <img ng-src="{{multistory.book_cover}}">
      <div>
      <h2>{{multistory.title}}</h2>
      <hp ng-repeat="litographer in multistory.litographers">{{litographer.name}}{{$last ? '' : ', '}}</hp>
      <p>{{multistory.headline}}</p>
    </div>
    </a>
    </li>
</ul>