<i class="fa fa-times close" ng-click="dismiss()"></i>
<div class="menu-modal author">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 class="orange"><em>{{author.first_name}}</em></h1>
      <h1 class="orange"><strong><em>{{author.last_name}}</em><strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <img ng-src="{{author.avatar}}">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
       <div class="margintop" ng-show="author.book_report_link" plangular="{{author.book_report_link}}">
      <button class="button-icon button" ng-click="playPause()">
          <svg ng-if="player.playing != track" plangular-icon="play"></svg>
          <svg ng-if="player.playing == track" plangular-icon="pause"></svg>
      </button>
       <h3 class="duration">{{ currentTime | prettyTime }}</h3>
          <progressbar value="currentTime / duration * 100" ng-click="seek($event)"></progressbar>
    </div>
    </div>
  </div>
    <br/>
   <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
     <h2 ng-show="author.website">Website: {{author.website}}</h2>
     <h2 ng-show="author.social">Social: {{author.social}}</h2>
    </div>
  </div>
    <br/>
  <div class="row">
    <div class="col-xs-12 text-center">
     <p>{{author.bio}}</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12 text-left">
     <p class="orange"><em>Who is your favorite hero/heroine in fiction?</em></p>
     <p>{{author.question_one}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-left">
     <p class="orange"><em>Computer, typewriter, pen, or pencil?</em></p>
      <p>{{author.question_two}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-left">
     <p class="orange"><em>Do you have a weird writing/artistic ritual?</em></p>
      <p>{{author.question_three}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-left">
     <p class="orange"><em>A Bay Area spot that inspires you?</em></p>
      <p>{{author.question_four}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-left">
     <p class="orange"><em>If you weren’t a writer/designer/illustrator, what would you be?</em></p>
      <p>{{author.question_five}}</p>
    </div>
  </div>
</div>