<div ng-show="isVisible" class="splash">
    <%= image_tag("logo_splash.png", :class => "img_splash")%>
    <%= image_tag("book_splash.png", :class => "gif_splash")%>
    <%= image_tag("splash.jpg")%>
</div>

 <leaflet ng-hide="isVisible" defaults = "defaults" tiles="tiles" height="100%" width="100%" maxbounds="maxbounds" markers="markers"></leaflet>