<!-- Search Bar -->
<!-- <input ng-hide="isVisible" class="search" ng-model="query"> -->

<!-- <ul class="no-display">
  <li ng-repeat="marker in filteredMarkers = (markers | filter:query)" >
  {{marker.title}}
    </li>
  </ul> -->

  <!-- Explainer -->
  <div ng-show="isVisible"ng-if="loc" class="explainer text-center">
    <i class="fa fa-times close ex" ng-click="close()"></i>
    <%= image_tag('explainer.png') %>
  </div>

  <!-- Upper Menu -->
  <div class="upper-menu">
    <div class="upper-logo">
      <%= image_tag("upper-logo.png")%>
    </div>
    <div class="social-icon">
      <a href="https://twitter.com/litographysf" target="_blank"><i class="fa fa-twitter-square"></i><a/>
      <a href="https://www.facebook.com/thelitographyproject" target="_blank"><i class="fa fa-facebook-square"></i><a/>
      <a href="http://instagram.com/thelitographyproject" target="_blank"><i class="fa fa-instagram"></i><a/>
    </div>
      <style type="text/css">
  #mc_embed_signup{text-align: center;background:rgba(0, 0, 0, 0); clear:left; font:10px Georgia,sans-serif; }
  #mc_embed_signup form {display: block;position: relative;text-align: center;padding: 2px 0 2px 0;}
  #mc_embed_signup label{ font-size: 10px}
  #mc_embed_signup input.button{display: inline}
  #mc_embed_signup .button{ font-size: 10px}
  #mc_embed_signup input.email{display: inline;}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form action="//thelitographyproject.us3.list-manage.com/subscribe/post?u=8f3972404449be69cd107974d&amp;id=3858efb433" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to our mailing list</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_8f3972404449be69cd107974d_3858efb433" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>
  </div>


<div class="side-bar" ng-class="slideRight ? 'slideRight': ' ' ">
  <div ng-click="slideRight = !slideRight" class="trigger">
    <i class="fa fa-plus"></i>
  </div>
  <div class="content-summary">
    <h3> Latest Stories: </h3>
    <table class="table">
        <tbody>
          <tr ng-repeat="story in stories" class="highlight-item" ng-click="focusMarker(story.id)" ng-if="story.published == true">
            <td> <img ng-src="{{story.square_feature_image}}"></td>
            <td><h4>{{story.title}} </br><small><em>By <span ng-repeat="litographer in story.litographers">{{litographer.name}}{{$last ? '' : ', '}}</span></em></small></h4></td>
          </tr>
          <tr ng-repeat="multistory in multistories" class="highlight-item" ng-click="focusMarker(multistory.id)" ng-if="multistory.published == true">
            <td> <img ng-src="{{multistory.square_feature_image}}"></td>
            <td><h4>{{multistory.title}} </br><small><em>By <span ng-repeat="litographer in multistory.litographers">{{litographer.name}}{{$last ? '' : ', '}}</span></em></small></h4></td>
          </tr>
        </tbody>
      </table>
       <h3> Latest Events:</h3>
       <small><em>Powered by Litseen<em></small>
    <table class="table">
        <tbody>
          <tr ng-repeat="event in events | orderBy: 'date'">
            <td><h4><a href="{{event.link}}" taget="_blank">{{event.name}}</a></br><small><em>{{event.venue}} | {{event.date}} | {{event.time}} </em></small></h4></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
  <!-- side bar -->
<!--   <div class="side-menu">
    <div class="latest-stories">
      <h1>Latest Stories</h1>
      <table class="table">
        <tbody ng-repeat="story in stories">
          <tr  class="highlight-item" ng-click="focusMarker(story.id)" ng-if="story.published == true && story.book_report == false">
            <td> <img ng-src="{{story.square_feature_image}}"></td>
            <td><h4>{{story.title}} </br><small><em>By {{story.litographer.name}}</em></small></h4></td>
          </tr>
          <tr ng-click="openModal(story.related_author)"class="highlight-item" ng-if="story.book_report == true && story.published == true">
            <td> <img ng-src="{{story.square_feature_image}}"></td>
            <td><h4>{{story.title}} </br><small><em>By {{story.litographer.name}}</em></small></h4></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->


  <!-- Global Player : WORK ON IT AFTER EVERYTHING ELSE IS DONE-->
<!--   <div id="global-player">
    <div plangular ng-show="player.currentTrack">
      <button class="button-icon button small" ng-click="player.playPause(player.i, player.playlistIndex)">
        <svg ng-if="!player.playing" plangular-icon="play"></svg>
        <svg ng-if="player.playing" plangular-icon="pause"></svg>
      </button>
      <small class="duration">{{ player.currentTime  | prettyTime }} - {{ player.duration | prettyTime }} || </small>
      <small>{{ player.currentTrack.title || 'No Track selected'}} </small>
      <progressbar value="player.currentTime / player.duration * 100" ng-click="seek($event)"></progressbar>
    </div>
  </div>
 -->

  <!-- Map -->
  <leaflet  defaults="defaults" markers="markers" layers="layers" height="100%" width="100%" maxbounds="maxbounds" ></leaflet>

  <!-- Hamburger Menu Button -->
  <div  class="ham-menu">
    <div class="off-canvas__container off-canvas__content">
      <a href ng-click="toggleNav(); toggle = !toggle" ng-class="{'active' : toggle}" id="hamburger-icon">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
        <span class="menu-text">Menu</span>
      </a>
    </div>
  </div>

  <!-- Menu/nav bar -->
  <nav class="off-canvas__nav">
   <div class="menu">

    <!-- Stories -->
    <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle ng-click="switchOverlays('events')" >Stories</a>
      <ul class="dropdown-menu stories">
        <li>
          <a ng-click="$event.stopPropagation()" ui-sref=".all">All</a>
        </li>
        <li>
          <a ng-click="$event.stopPropagation(); toggleOverlays('lastMonth')" href>Last Month's</a>
        </li>
        <li>
          <a ng-click="$event.stopPropagation(); toggleOverlays('thisMonth')" href>This Month's</a>
        </li>
      </ul>
    </span>

    <!-- Authors -->
    <span class="dropdown authors" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        Authors
      </a>
      <flex-slider ng-click="$event.stopPropagation()" class="dropdown-menu" slide="author in authors track by $index" control-nav="false" selector= ".slides > li" item-margin="10" item-width="220" slideshow="false" direction-nav="true"  prev-text="" next-text="" animation="slide">
      <li ng-click="$event.stopPropagation()" href ui-sref="home.authors({ author_id: author.id })"><img ng-src="{{author.med_logo_url}}"><em>{{author.first_name}}<br/><strong>{{author.last_name}}</strong></em><span class="small_icon" ng-if="author.book_report_link"><%=image_tag("sound_icon.png")%></span></li>
    </flex-slider>
  </span>

  <!-- Calendar -->
  <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle ng-click="switchOverlays('stories')" >Calendar</a>
      <ul class="dropdown-menu events">
        <li>
          <a ng-click="$event.stopPropagation(); toggleOverlays('today')" href>Today</a>
        </li>
        <li>
          <a ng-click="$event.stopPropagation(); toggleOverlays('tomorrow')" href>Tomorrow</a>
        </li>
        <li>
          <a ng-click="$event.stopPropagation(); toggleOverlays('friday')" href>Friday</a>
        </li>
        <li>
          <a ng-click="$event.stopPropagation(); toggleOverlays('saturday')" href>Saturday</a>
        </li>
        <li>
          <a ng-click="$event.stopPropagation(); toggleOverlays('sunday')" href>Sunday</a>
        </li>
      </ul>
    </span>


  <!-- Stories -->
  <span class="dropdown" dropdown on-toggle="toggled(open)">
    <a href class="dropdown-toggle" dropdown-toggle >About</a>
    <ul class="dropdown-menu about">
      <li>
        <a ng-click="$event.stopPropagation()" href ui-sref="home.about">About Us</a>
      </li>
      <li>
        <a ng-click="$event.stopPropagation()" href ui-sref="home.pitch">Pitch Guide</a>
      </li>
      <li>
        <a ng-click="$event.stopPropagation()" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WPFY6Z6FB2E2C">Donate</a>
      </li>
      <li>
        <a ng-click="$event.stopPropagation()" href="javascript:void( window.open('https://secure.jotform.us/form/50157427915154', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))">Report An Error</a>
      </li>
    </ul>
  </span>

<!-- Blog -->
  <a href="http://uncharted.thelitographyproject.com/" target="_blank" class="bogus">Blog</a>
</div>
</nav>
