<div class="close-icon" ng-click="dismiss()"></div>
<leaflet  defaults="defaults" center="start" markers="markers" layers="layers" height="200px" width="100%" ></leaflet>
<div class="row bg-color">
  <div class="col-xs-12 text-center">
     <h1>{{multistory.title}}</h1>
     <h3>By <em ng-repeat="litographer in multistory.litographers">{{litographer.name}}{{$last ? '' : ', '}} </em></h3>
  </div>
</div>
<div class="row bg-color padding-b">
  <div class="col-xs-12 text-center">
  <a class="part-links" ng-repeat="part in multistory.parts | orderBy: 'part_number'" ui-sref="home.multistories.parts({ multistory_id: part.multistory_id, part_number: part.part_number })" ng-click="setState(part.part_number)">
    <img class="thumb-img" ng-src="{{part.square_feature_image}}"><span class="thumb">Part {{part.part_number}}</span></a>
  </div>
  </div>
<div class="main-content" ng-include="template"></div>


<div class="litographer">
  <h3>Author(s):</h3>
  <ul>
    <li ng-repeat="litographer in multistory.litographers">
<img ng-src="{{litographer.thumb_avatar}}">
  <p><small>{{litographer.bio}}</small></p>
    </li>
  </ul>
<div id="mc_embed_signup">
  <form action="//thelitographyproject.us3.list-manage.com/subscribe/post?u=8f3972404449be69cd107974d&amp;id=3858efb433" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Did you like this story? Stay up to date and subscribe to our mailing list</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_8f3972404449be69cd107974d_3858efb433" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>