<div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
       <div class="margintop" plangular="{{part.audio}}">
      <button class="button-icon button" ng-click="playPause()">
          <svg ng-if="player.playing != track" plangular-icon="play"></svg>
          <svg ng-if="player.playing == track" plangular-icon="pause"></svg>
      </button>
       <h3 class="duration">{{ currentTime | prettyTime }}</h3>
          <progressbar value="currentTime / duration * 100" ng-click="seek($event)"></progressbar>
    </div>
    </div>
  </div>

<p ng-bind-html="description"></p>
