<nav class="off-canvas__nav">
   <div class="menu">
    <span class="dropdown" on-toggle="toggled(open)">
      <a href class="dropdown-toggle">
          Authors
        </a>
      <flex-slider ng-click="$event.stopPropagation()" class="dropdown-menu" slide="author in authors track by $index" control-nav="false" selector= ".slides > li" item-width="300px" slideshow="false" direction-nav="true" move="3" max-items="3" prev-text="" next-text="" animation="slide">
        <li>
          <a ng-click="$event.stopPropagation()" href>{{author.name}}</a>
        </li>
      </flex-slider>
      <span>

    <a ng-click="toggleLayer('events', 'stories')">Stories</a>
    <a ng-click="toggleLayer('stories', 'events')">Calendar</a>
    <a>Blog</a>
</div>
</nav>
""