<div class="close-icon" ng-click="dismiss()"></div>
<div class="header pitch">
</div>
<div class="main-content">
   <p>We are looking for stories that explore literary culture (past and present) in the nine counties of the Bay Area. We are seeking stories that will be plotted as points on a map: audio stories, written stories, and illustration and photography about Bay Area literature. We are looking for strong storytelling – pitches for audio and written stories should have a narrative arc and developed characters.
    We are only looking for original work, or pieces that are reworked specifically for The Litography Project. You will retain all the rights to your work and are free to post or pitch it to other outlets. However we respectfully ask that you wait until the work has been released on The Litography Project website to do so.<p>
    <p><a href="mailto:pitch@thelitographyproject.com">Pitch us!</a></p>
</div>
