<div class="header" style="background-image:url('{{story.feature_image}}');">
  <div class="player">
    <div class="controls">
    <div plangular="{{story.audio}}">
      <button class="button-icon button" ng-click="playPause()">
          <svg ng-if="player.playing != track" plangular-icon="play"></svg>
          <svg ng-if="player.playing == track" plangular-icon="pause"></svg>
      </button>
       <h3 class="duration">{{ currentTime | prettyTime }} - {{ duration | prettyTime }}</h3>
    </div>
  </div>
  <div class="story-info">
    <h1>{{story.title}}</h1>
    <h2>By {{story.author.first_name}} {{story.author.last_name}}</h2>
  </div>
  </div>
</div>

<div class="main-content">
  <p ng-bind-html="description"></p>
</div>

