<i class="fa fa-times close" ng-click="dismiss()"></i>
<div ng-class="story.has_header ? 'audio-header': 'visual-header'" style="background-image:url('{{story.feature_image}}');">
  <div class="top">
  <div ng-if="story.audio" ng-bind-html="player"></div>
  <div class="info">
     <h1>{{story.title}}</h1>
    <h2>By <span ng-repeat="litographer in story.litographers">{{litographer.name}}</span></h2>
  </div>
</div>
</div>
<div class="main-content">
  <p ng-bind-html="description"></p>
</div>
<hr>
<div class="litographer">
  <h3>Author(s):</h3>
  <ul>
    <li ng-repeat="litographer in story.litographers">
<img ng-src="{{litographer.thumb_avatar}}"><p><em><small>{{litographer.name}}</small></em></p>
    </li>
  </ul>
</div>