$height-icon: 30px;
$width-line: 45px;
$height-line: 5px;
$off-white: #FBF6F3;
$dark-grey: #656565;
$accent-color: #E06A2C;
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;
$primary_font: Gill Sans, sans-serif;
$secondary_font: georgia, sans-serif;
$font_color_grey: #A5A7A1;
$body_text_color: #38332F;
