/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require flexslider/flexslider.css
 *= require font-awesome/css/font-awesome.css
 *= require leaflet.markercluster/dist/MarkerCluster.css
 *= require leaflet.markercluster/dist/MarkerCluster.Default.css
 *= require leaflet
 *= require angular-socialshare/angular-socialshare.min.css
 *= require animate
 *= require_tree .
 *= require_self
 */



// ======================= VARIABLES =======================
$height-icon: 30px;
$width-line: 45px;
$height-line: 5px;
$off-white: #FBF6F3;
$dark-grey: #656565;
$accent-color: #E06A2C;
$transition-time: 0.5s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;
$primary_font: Gill Sans, sans-serif;
$secondary_font: georgia, sans-serif;
$font_color_grey: #A5A7A1;
$body_text_color: #38332F;


// Overriding flexslider and fontawesome
/* Font-face Icons */
/*Modified to scss markup because fonts don't show when compiled*/
@font-face {
  font-family: 'flexslider-icon';
  src: font-url("flexslider-icon.eot");
  src: font-url("flexslider-icon.eot?#iefix") format("embedded-opentype"), font-url("flexslider-icon.woff") format("woff"), font-url("flexslider-icon.ttf") format("truetype"), font-url("flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: font-url('fontawesome-webfont.eot?v=4.3.0');
  src: font-url('fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), font-url('fontawesome-webfont.woff2?v=4.3.0') format('woff2'), font-url('fontawesome-webfont.woff?v=4.3.0') format('woff'), font-url('fontawesome-webfont.ttf?v=4.3.0') format('truetype'), font-url('fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// General Layout

html, body, .main-view-container, .splash, .map-view{
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, a, p {
  font-family: Gill Sans, sans-serif;
}
h2{
  font-size: 25px;
}

a.bogus, a.dropdown-toggle, .stories li a, .about li a, .events li a{
  text-decoration: none;
  color: $font_color_grey;
  &:hover{
    color: $accent-color;
  }
}

.orange{
  color: $accent-color;
  font-family: georgia, sans-serif;
}

.black{
  color:$dark-grey!important;
}

.margintop{
  margin-top: 20px;
}

.nav, .carousel a { cursor: pointer; }


#mc_embed_signup{
  background:rgba(0, 0, 0, 0);
  clear:left;
  font:14px Georgia,sans-serif;
}

.bg-color{
  background: rgba(179, 218, 218, .4);
}

.padding-b{
  padding-bottom: 25px;
}



.isotope-item{
  list-style: none;
  margin: 20px;
  width: 200px;
  height: 300px;
  a{
    color: white;
    font-family: georgia, sans-serif;
    text-decoration: none;
  }
  img{
    position: relative;
    top: 0;
    left: 0;
  }
  div{
    position: absolute;
    padding: 15px;
    z-index: 1;
    top: 0;
    left: 10px;
  }
}

.story-info-visual{
   position: relative;
   vertical-align: 25px;
   padding: 10px;
}

/* angular-off-canvas v0.1.0
 * (c) 2013 Ciro Nunes http://cironunes.github.io/
 * License: MIT
 */
 // CUSTOMIZED FOR VERTICAL NAV
/* prevent horizontal scroll */


.off-canvas__nav {
    -webkit-transform: translate3d(0, 0, 0) translateY(800px);
    -ms-transform: translate3d(0, 0, 0) translateY(800px);
    -moz-transform: translate3d(0, 0, 0) translateY(800px);
    -o-transform: translate3d(0, 0, 0) translateY(80px);
    transform: translate3d(0, 0, 0) translateY(80px);
    -webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
}

.off-canvas__content {
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0);
    -webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
}

.is-off-canvas-opened .off-canvas__nav {
    -webkit-transform: translate3d(0, 0, 0) translateY(-20px);
    -ms-transform: translate3d(0, 0, 0) translateY(-20px);
    -moz-transform: translate3d(0, 0, 0) translateY(-20px);
    -o-transform: translate3d(0, 0, 0) translateY(-20px);
    transform: translate3d(0, 0, 0) translateY(-20px);
}

.is-off-canvas-opened .off-canvas__content {
    -webkit-transform: translate3d(0, 0, 0) translateY(-50px);
    -ms-transform: translate3d(0, 0, 0) translateY(-50px);
    -moz-transform: translate3d(0, 0, 0) translateY(-50px);
    -o-transform: translate3d(0, 0, 0) translateY(-50px);
    transform: translate3d(0, 0, 0) translateY(-50px);
}




// ======================= offCanvas Custom Styles =======================
.off-canvas__container {
  position: relative;
  width: 100%;
}

.off-canvas__nav {
  background-color: $off-white;
  color: $font_color_grey;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: -20px;
  min-width: 100%;
  height: 100px;
  -webkit-user-drag: none;
  display: table;
  .menu{
    display: table-row;
    min-width: 100%;
    border-collapse: collapse;
    border: none;
    span{
     display: table-cell;
     vertical-align: middle;
     text-align:  center;
    }
    a{
      margin-left: 6%;
      margin-right: 6%;
      cursor: pointer;
      font-size: 30px;
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;
      &:hover{
        color: $accent-color;
      }
    }
  }
}
// ======================= Dropdown Custom Styles =======================

.dropdown-menu{
   -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  top: -91px;
  min-width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: $off-white;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  li{
    // display: inline;pr
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    a{
      padding: 0 25px!important;
    }
  }
}

// overwriting dropdown for author sliders.
.authors{
  position: static!important;
}

.small_icon{
  position: relative;
  bottom: 134px;
  left: 50px;
  img{
    height: 25px;
  }
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);

}
.open > .dropdown-menu a li {
  color: $font_color_grey;
}
.dropup .dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
}

.dropup > .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(39, 45, 51, 0.9);
  top: auto;
  display: inline-block;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.open > .stories{
  top: -125px;
}

.open > .events{
  top: -208px;
}

.open > .about{
  top: -167px;
}

// flexslider
.flexslider-container{
  top: -135px;
}
.flexslider {
    height: 150px;
    box-shadow: 0 1px 4px rgba(0,0,0,0);
    margin: 0;
    line-height: normal;
    background-color: $off-white;
    border: none;
    .slides > li:hover{
      background-color: $accent-color;
      color: white;
    }
    li{
      height: 156px;
      cursor: pointer;
      text-align: center;
      font-size: 18px;
      font-family: georgia, sans-serif;
      padding-top: 10px;
    }
    .slides img{
        width: initial;
        margin: 0 auto;
      }
}


// IE Support

.no-csstransitions ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.no-csstransitions ul.nav li.dropdown > ul.dropdown-menu {
  display: none;
}

// LAYOUT

.footer-modal{
  background: rgba(179, 218, 218, .4);
  padding: 20px 15% 20px 15%;
  #mc_embed_signup form{
     text-align: left;
    }
    img{
        margin-bottom: 30px;
    }

  h3{
    margin-bottom: 20px;
  }

  ul li{
    margin: 10px;
    text-align: center;
    display: inline-block;
    list-style: none;
     max-width: 400px;
  }
}

.header-wrapper{
  height: 100%;
  .white-header{
    padding: 3%;
    height: 20%;
    width: 100%;
    background: white;
  }
  h1{
    font-family: $secondary_font;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
  }
  h4 span{
    font-family: $secondary_font;
    font-weight: bold;
  }
}

.multistories{
  h1{
    font-family: $secondary_font;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
  }
  h4{
    font-family: $secondary_font;
    font-weight: bold;
  }
}

.header, .audio-header{
  height: 82vh;
  background-size: cover;
  background-position:50% 50%;
  background-repeat:no-repeat;
}

.visual-header{
  background-image: none!important;
}

.header.pitch{
    height: 100vh;
    background-size: cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-image: image-url("pitch_guide.jpg");
}
.header.about{
  height: 100vh;
  background-size: cover;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-image: image-url("about_us.jpg");
}

.main-content{
    width: 100%;
    min-height: 100%;
    background-color: white;
    font-size: 21px;
    color: black;
    padding: 50px 21% 20px 21%;
    font-family: georgia, sans-serif;
    p{

      line-height: 1.2;
      font-family: georgia, sans-serif;
    }
    img{
      width: 100%!important;
      height: 100%!important;
    }
  }

.side-bar{
  position: absolute;
  z-index: 1;
  overflow:scroll;
  top: 0;
  right: -270px;
  height: 100%;
  width: 320px;
   -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(179, 218, 218, .4);
  .trigger{
    .plus{
      margin: 20px auto;
      background-image: image-url("+_black.png");
      height: 23px;
      width: 23px;
      background-size: cover;
      -webkit-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    cursor: pointer;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 50px;
    background: rgba(179, 218, 218, .9);
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
      background: rgba(224, 106, 44, .5);
      .plus{
        background-image: image-url("+_orange.png")
      }
    }
  }
  .content-summary{
    margin-left: 17%;
    .highlight-item{
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    &:hover{
      background-color: rgba(224, 106, 44, .5);
    }
  }
  }
}

// Animation
.side-bar.slideRight{
  right: 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow:scroll;
  position:absolute;
  z-index: 1;
}


.upper-menu{
  background-color: rgba(240, 240, 240, .4);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 12px;
  z-index: 1;
  img{
    height: 67px;
    width: auto;
  }
  a{
    text-decoration: none;
    color: $font_color_grey;
    font-size: 15px;
    &:hover{
    color: $accent-color;
    }
  }
}

.social-icon{
  text-align: center;
  i{
    font-size: 24px;
    display: inline-block;
    margin-right: 10px;
    color: $dark-grey;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
      color: $accent-color;
    }
  }
}

.social-share{
    padding: 10px;
}

.facebookShare{
  height: 27px;
}

#twitter-widget-0{
  width: 76px;
}

// Pages
.main-content-about{
    width: 100%;
    min-height: 100%;
    background-color: white;
    font-size: 20px;
    color: black;
    padding: 50px 21% 20px 21%;
    p{
      font-family: georgia, sans-serif!important;
      line-height: 1.2;
    }
    td{
      vertical-align: middle!important;
    }
    img{
      width: 190px;
    }
}



.part-links{
  .thumb-img{
    opacity: .4;
    margin-top: 25px;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
  .thumb{
    font-family: georgia, sans-serif;
    -webkit-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    position: relative;
    top: 18px;
    right: 75px;
    color: $dark-grey;
    font-size: 20px;
  }
  &:hover{
    text-decoration: none;
    .thumb-img{
      opacity: .7;
    }
    .thumb{
       color: $accent-color;
    }
  }
}

// COMPONENTS
.close-icon{
  opacity: 1;
  background-image: image-url("x_black.png");
  background-size: cover;
  position: absolute;
  z-index: 9999;
  right: 20px;
  top: 20px;
  height: 28px;
  width: 28px;
  cursor: pointer;
  transition: all $transition-time;
  -webkit-transition: all $transition-time;
  -moz-transition: all $transition-time;
  &:hover{
     opacity: 1;
    background-image: image-url("x_orange.png");
  }
}
.close-icon.right{
  left: 40px;
  top: 40px;
}

.ham-menu{
  position:absolute;
  bottom: 120px;
}

#hamburger-icon {
    a {
    text-decoration:none;
    color:$dark-grey;
    margin: 0.5em 1.5em;
    display:inline-block;
    &:hover, &:focus {
      color:$accent-color;
    }
  }
  width:$width-line;
  height:$height-icon;
  position:relative;
  bottom: -20px;
  left: 40px;
  display:block;

  .menu-text {
    display:block;
    color:$dark-grey;
    font-size: 20px;
    top:150%;
    position:absolute;
    left:0;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
  }
  .line {
    display:block;
    background:$dark-grey;
    width:$width-line;
    height:$height-line;
    position:absolute;
    left:0;
    // border-radius:($height-line / 2);
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    &.line-1 {
      top:0;
    }
    &.line-2 {
      top:50%;
    }
    &.line-3 {
      top:100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        background-color: $accent-color;
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
     }
    .line-2{
      background-color: $accent-color;
    }
    .line-3 {
        background-color: $accent-color;
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
    }
    .menu-text{
       color: $accent-color;
      transform: translateY($height-line / 2 + 1);
      -webkit-transform: translateY($height-line / 2 + 1);
      -moz-transform: translateY($height-line / 2 + 1);
    }
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}

.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
  color:#fff;
  height: 311px;
  width: 220px;
  font-size:16px;
  line-height:24px;
  border-radius: 0px;
  a {
  color: #fff;
  text-decoration: none;
    }
  }

.leaflet-popup-tip-container {
  width:0;
  height:20px;
  }

.leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid transparent;
  }

.leaflet-control-layers.leaflet-control {
  display: none;
}

.marker-cluster-small {
  background-color: rgba(224, 106, 44, 0.6);
  }
.marker-cluster-small div {
  background-color: rgba(224, 106, 44, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(224, 106, 44, 0.6);
  }
.marker-cluster-medium div {
  background-color: rgba(224, 106, 44, 0.6);
  }

.marker-cluster-large {
  background-color: rgba(224, 106, 44, 0.6);
  }
.marker-cluster-large div {
  background-color: rgba(224, 106, 44, 0.6);
  }

.popup-content{
  z-index: 2;
  position: relative;
  color: #fff;
  h1{font-size: 25px;}
  h2{
    position: absolute;
    top: 175px;
    font-size: 20px;
    text-decoration: underline;
  }
  a{
    text-decoration: none;
    color: #fff;
    &:hover{
      color: $accent-color;
    }
  }
  a, h1, h2, p{
    font-family: georgia, sans-serif;
  }
}

.popup-image{
  height: 94%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.symbols{
  position: absolute;
  bottom: 50px;
  left: 4px;
  div{
    display: inline-block;
  }
  img{
    height: 30px;
    margin-left: 4px;
  }
}


.modal-backdrop.in {
  filter: alpha(opacity=10);
  opacity: 0.1;
}

.modal-dialog{
  margin: 0;
}
.modal-content, .modal-dialog{
  width: 100%;
  min-height: 100%;
}

.modal-content{
  background-color: rgb(255, 255, 255);
}

.menu-modal{
  padding: 20px;
  p{
    font-size: 25px;
    line-height: 1.2;
  }
 img{
    height: 400px;
  }
  a{
  text-decoration: none;
  color: $font_color_grey;
  &:hover{
  color: $accent-color;
  }
  }
}

.menu-modal.author div div p{
    font-size: 25px;
    font-weight: 400;
    font-family: georgia, sans-serif;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.explainer{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  img{
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
    height: 100%;
    width: 100%;
  }
}

.explainer.ng-hide img{
  opacity: 0;
}
