<p>Hello <%= @resource.email %>!</p>

<p>You've either been added as an admin to The Litography Project or you have forgotten you password. Either way, we've got you covered.</p>

<p><%= link_to 'Update or create new password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Forgotten Password:</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p>New Admin: </p>
<p>You won't have access to the site until you create a new password.</p>