<p>Hello <%= @resource.email %>!</p>

<p>You have forgotten you password.</p>

<p><%= link_to 'Update or create new password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Forgotten Password:</p>
<p>Your password won't change until you access the link above and create a new one.</p>
