<div ui-view="splash"></div>
<!-- Map: still need to add all interactions + pop... -->
<div  class="map-view" ui-view="map"></div>
<!-- Nav: add nav + templates for pages -->
<!-- <div ui-view="nav"></div> -->
<!-- Build the whole menu -->
<!-- <div class="menu-view" ui-view="menu"></div> -->
<!-- <div ui-view="search"></div> -->