<!DOCTYPE html>
<html>
<head>
  <title>The Litography Project</title>
  <!-- Add SEO stuff -->
   <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

</head>
<body class="main-view-container" ng-app="litography">
<%= yield %>
</body>
</html>
